@keyframes hidenav{
    0%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(100%, 0%);
    }
}
@keyframes shownav{
    0%{
        transform: translate(100%, 0%);
    } 
    100%{
        transform: translate(0%, 0%);
    }
}
@keyframes show-reach-us{
    0%{
        height: 0px;
        display: none;
        right: -800px;
    }
    1%{
        height: 0px;
        display: block;
        right: -5px;
    }
    100%{
        height: 500px;
        display: block;
    }
}
@keyframes hide-reach-us{
    0%{
        height: 500px;
        display: block;
    }
    99%{
        right: -5px;
        height: 0px;
        display: block;
    }
    100%{
        right: -800px;
        height: 0px;
        display: none;
    }
}
@keyframes gallery-imganim{
    0%{
        box-shadow: var(--secondary-color) 5px 5px;
    }
    50%{
        box-shadow: var(--secondary-color) 10px 10px;
    }
    100%{
        box-shadow: var(--secondary-color) 5px 5px;
    }
}
@keyframes loader-spiral{
    0%{
        width: 180px;
        height: 180px;
    }
    50%{
        width: 190px;
        height: 190px;
    }
    100%{
        width: 180px;
        height: 180px;
    }
}