@keyframes hidenav{
    0%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(100%, 0%);
    }
}
@keyframes shownav{
    0%{
        transform: translate(100%, 0%);
    } 
    100%{
        transform: translate(0%, 0%);
    }
}