/*-------------------navbar---------------------------*/
@media (max-width: 575px){
	.navbar .navbar-brand img{
        height: 50px;
        margin-left: 0px;
    }
    .navbar .bars{
        right: 0.5rem;
    }
    .navslider .nav-options{
        margin-top: 6rem;
    }
    .navslider .nav-options div{
        font-size: 1rem;
        margin: 1rem;
    }
    .navslider{
        width: 260px;
    }
    .section-head h3{
        font-size: 1.9rem;
    }
}

@media (min-width: 576px) and (max-width: 767px){
	.navbar .navbar-brand img{
        height: 60px;
        margin-left: 0px;
    }
    .navbar .bars{
        right: 2rem;
        transform: scale(1.2);
    }
    .navslider .nav-options div{
        font-size: 1.3rem;
        margin: 1.3rem;
    }
    .navslider{
        width: 260px;
    }
}

@media (min-width: 768px) and (max-width: 991px){   
	.navbar .navbar-brand img{
        height: 55px;
    }
    .navbar .bars{
        right: 2rem;
        transform: scale(1.2);
    }
}

@media (min-width: 992px) and (max-width: 1200px){
	.navbar .navbar-brand img{
        height: 55px;
    }
    .navbar .bars{
        right: 2rem;
    }
}
/*--------------------header-----------------------*/
@media (max-width: 575px){
	.header{
        min-height: auto;   
    }
    .header-content{
        margin-left: 5%;
        margin-top: 40vh;
    }
	.header-content .head{
        font-size: 1.45rem;
    }
    .header-content .subhead{
        font-size: 1rem;
    }
    .social-icons{
        margin-left: 92vw;
    }
    .social-icons a span{
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px){
	.header{
        min-height: auto;   
    }
    .header-content{
        margin-left: 9.5%;
        margin-top: 40vh;
    }
	.header-content .head{
        font-size: 2.15rem;
    }
    .header-content .subhead{
        font-size: 1rem;
    }
    .social-icons{
        margin-left: 92vw;
    }
    .social-icons a span{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.header{
        min-height: auto;   
    }
    .header-content{
        margin-left: 12%;
        margin-top: 40vh;
    }
	.header-content .head{
        font-size: 2.2rem;
    }
    .header-content .subhead{
        font-size: 0.85rem;
    }
    .social-icons div{
        margin-bottom: 40px;
    }
    .social-icons a span{
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .header{
        min-height: auto;   
    }
    .header-content{
        margin-left: 16%;
        margin-top: 40vh;
    }
	.header-content .head{
        font-size: 2.3rem;
    }
    .header-content .subhead{
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
}
/*-------------------about section---------------------------*/
@media (max-width: 575px){
	.about-section{
        padding-bottom: 50px;
    }
	.about-section .row{
        padding: 0px 30px 10px 30px;
        font-size: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .row-half .col-md-6:last-child{
        padding: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .about-section{
        padding-bottom: 50px;
    }
	.about-section .row{
        padding: 0px 30px 10px 30px;
        font-size: 1.4rem;
        padding-left: 0;
        padding-right: 0px;
    }
    .row-half .col-md-6:last-child{
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.about-section .row{
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
	
}
/*-------------------initiaitves-outer---------------------------*/
@media (max-width: 575px){
    .ini-section .each-option{
        margin-left: 30px;
        margin-right: 30px;
    }
    .ini-section .each-option div:first-child{
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 0px;
        width: 30%;
    }
    .ini-section .each-option .ini-content-head{
        margin-top: 30  px;
        font-size: 1.2rem;
        padding-left: 0px;
    }
    .ini-section .each-option div:last-child{
        width: 70%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
	.ini-section .each-option div:first-child{
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 15px;
    }
    .ini-section .each-option .ini-content-head{
        margin-top: 60px;
        font-size: 1.5rem;
        padding-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .ini-section .each-option{
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .ini-section .each-option div:first-child{
        padding-left: 5px;
        padding-top: 10px;
        padding-right: 0;
    }
    .ini-section .each-option .ini-content-head{
        margin-top: 20px;
        font-size: 1.1rem;
        padding-left: 0;
    }
    .ini-section .each-option div:last-child{
        padding-left: 0px;
    }
} 

@media (min-width: 992px) and (max-width: 1199px){
	.ini-section .each-option div:first-child{
        padding-left: 5px;
    }
    .ini-section .each-option .ini-content-head{
        margin-top: 20px;
    }
}
/*-------------------initiaitves-inner---------------------------*/
@media (max-width: 575px){
    .initiatives .section-head h3{
        font-size: 1.8rem;
    }
    .initiatives .row > div{
        transform: scale(0.8);  
        margin-top: 70px;
    }
    .initiatives .testi h4{
        font-size: 1.3rem;
    }
}

@media (min-width: 576px) and (max-width: 767px){
	.initiatives .row > div{
        transform: scale(0.9);  
        margin-top: 200px;
    }
    .initiatives .testi h4{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
} 

@media (min-width: 992px) and (max-width: 1199px){
	.initiatives .row > div{
        margin-top: 100px;  
    }
}
/*-------------------testiminials---------------------------*/
@media (max-width: 575px){
	.each-testimonial > .row > div:last-child p{
        font-size: 0.9rem;
        margin-left: 0;
    }
    .each-testimonial > .row > div:last-child h4{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .left.carousel-control{
        margin-top: 170px
    }
    .right.carousel-control{
        margin-top: 170px
    }
    .testimonials-section .each-testimonial > .row:first-child{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .testimonials-section .each-testimonial > .row:first-child{
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .each-testimonial .social-icons a span{
        font-size: 1.3rem;
    }
    .each-testimonial .social-icons{
        margin-left: -40px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .testimonials-section .each-testimonial{
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .each-testimonial > .row > div:last-child p{
        font-size: 0.9rem;
        margin-left: 0;
    }
    .each-testimonial > .row > div:last-child h4{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .left.carousel-control{
        margin-top: 170px
    }
    .right.carousel-control{
        margin-top: 170px
    }
    .each-testimonial > .row > div:first-child{
        padding-right: 0px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .testimonials-section .each-testimonial > .row:first-child{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }
    .each-testimonial .social-icons a span{
        font-size: 1.3rem;
    }
    .each-testimonial .social-icons{
        margin-left: -40px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.each-testimonial > .row > div:last-child p{
        font-size: 0.9rem;
    }
    .each-testimonial > .row > div:last-child h4{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .left.carousel-control{
        margin-top: 170px
    }
    .right.carousel-control{
        margin-top: 170px
    }
    .each-testimonial > .row > div:first-child{
        padding-right: 0px;
    }
    .testimonials-section .each-testimonial > .row:first-child{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }
    .each-testimonial .social-icons a span{
        font-size: 1.1rem;
    }
    .each-testimonial .social-icons{
        margin-left: -30px;
    }
    .each-testimonial .person-img{
        width: 130px;
        height: 130px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
	
}
/*-------------------team section------------------------*/
@media (max-width: 575px){
	
}

@media (min-width: 576px) and (max-width: 767px){
	

}

@media (min-width: 768px) and (max-width: 991px){
	
}

@media (min-width: 992px) and (max-width: 1200px){
	
}
/*-------------------reach us, footer, copyright---------------------------*/
@media (max-width: 575px){
	.reach-us{
        right: 10px;
        bottom: 10px;
    }
    .reach-us .content{
        width: 360px;
    }
    .reach-us-button h4{
        font-size: 1.1rem;
    }
    .content .email h4{
        font-size: 1rem;
    }
    .footer iframe{
        padding-right: 0px;
    }
    .footer .get-notified{
        padding-left: 0px;
        padding-top: 40px;
    }
    .footer .explore{
        padding-left: 0px;  
    }
    .footer .get-notified form input{
        width: 60%;
    }
    .footer .explore .social-icons{
        margin-left: auto;
    }
    .footer .explore .social-icons div{
        margin-right: 50px;
    }
    .footer .get-notified form button{
        width: 40%;
        padding: 20px 20px;
    }
    .footer .explore > div.row .col{
        text-align: center;
    }
    .copyright h4{
        font-size: 1.05rem;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .reach-us{
        right: 30px;
        bottom: 25px;
    }
    .footer iframe{
        padding-right: 0px;
    }
    .footer .get-notified{
        padding-left: 0px;
        padding-top: 40px;
    }
    .footer .explore{
        padding-left: 0px;  
    }
    .footer .get-notified form input{
        width: 60%;
    }
    .footer .get-notified form button{
        width: 40%;
    }
    .footer .explore .social-icons{
        margin: auto;
        margin-top: 40px;
    }
    .explore .email{
        margin-top: 10px;
    }
    .footer .explore > div.row .col{
        text-align: center;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .footer iframe{
        padding-right: 0px;
    }
    .footer .get-notified{
        padding-left: 0px;
    }
    .footer .explore{
        padding-left: 0px;  
    }
    .footer .explore .social-icons div{
        margin-right: 50px;
    }
    .explore .email{
        margin-top: 10px;
        text-align: left;
        margin-left: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
	
}