@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
:root{
    --primary-color: #000d80;  
    --secondary-color: #CC6A43;
}
html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    font-size: 16px;
    font-family: 'Lora', serif;
    position: relative;
    overflow-x: hidden;
    background: #fff;
}
.navbar{
    width: 100vw;
    color: blue;
    top: 0;
    position: absolute;
    z-index: 100;
    background: transparent;
}
.navbar .navbar-brand img{
    height: 60px;
    margin-left: 1rem;
}
.navbar .bars{
    font-size: 1rem;
    position: fixed;
    right:  3rem;
    z-index: 100;
    cursor: pointer;
    color: #fff;
    background-color: #1f2346;
    padding: 10px 5px 10px 5px;
    box-shadow: #1f2346 5px 5px;
}
.navbar .bars svg{
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
    width: 1.6rem;
    height: 1.6rem;
}
.navslider{
    height: 100%;
    width: 230px;
    display: table;
    position: fixed;
    right: 0;
    z-index: 100;
    background: var(--secondary-color);
    color: #fff;
}
.navslider .close svg{
    color: #fff;
    width: 2rem;
    height: 2rem;
    font-weight: 800;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.navslider .nav-options{
    margin: 8rem 0 0 2rem;
}
.navslider .nav-options div{
    margin: 1rem;
    margin-left: 10px;
    font-size: 1rem;
}
.navslider .nav-options div a{
    letter-spacing: 3px;
    color: #fff;
}
.navslider .nav-options div a:hover{
    text-decoration: none;
    font-size: 1.1rem;
}
.show-nav{
    animation: shownav ease forwards;
    animation-duration: 0.6s;
}
.hide-nav{
    animation: hidenav ease forwards;
    animation-duration: 0.6s;
}
.show-nav-options{
    animation: shownav ease forwards;
    animation-delay: 0.09s;
    animation-duration: 0.6s;
}
.hide-nav-options{
    animation: hidenav ease forwards;
    animation-delay: 0.09s;
    animation-duration: 0.6s;
}
.make-black{
    background: #000;
}
.navslider .social-icons{
    position: relative;
    top: 0;
    margin-top: 80px;
    margin-left: 2rem;
    color: #fff;
}
.navslider .social-icons div{
    margin-right: 20px;
}
/*---------------------header styles---------------------*/
.header{
    width: 100vw;
    height: 100vh;
    min-height: 786px;
    overflow: hidden;
    z-index: 5;
    background-image: url("../img/back\ -\ Copy.jpg");
    background-size: cover;
    left: 0;
    position: relative;
}
.another-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color:var(--primary-color);
    opacity: 0.6;
}
.header .background-image{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #000;
    opacity: .5;
}
.header-content{
    top: 0;
    position: absolute;
    margin-top: 20%; 
    margin-left: 20%;
    color: #fff;
}
.header-content .head{
    color: #FFD1AD;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
}
.header-content .subhead{
    color: #fff;
    font-size: 0.95rem;
    margin-top: 20px;
    letter-spacing: 1px;
}
.social-icons{
    position: absolute;
    top: 0;
    margin-top: 40vh;
    margin-left: 95vw;
    color: #fff;
}
.social-icons div{
    margin-bottom: 30px;
}
.social-icons a span{
    color: #fff;
    font-size: 1.2rem;
}
.social-icons a:hover{
    color: gray;
}
.section-head{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
}
.section-head h3{
    width: auto;
    align-self: center;
    text-align: center;
    font-weight: 800;
    color: #1f2348;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
.section-head .underline{
    width: 60%;
    height: 1px;
    margin-top: 20px;
    background: #cc6a43;
    margin-left: 20%;   
    
}
.section-subhead{
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    font-variant: all-petite-caps;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fafafa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff7f5d;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  color: #919191;
  font-size: 14px;
}

/*---------------------About section------------------*/
.about-section{
    position: relative;
    background: #FFD1AD;
    padding-bottom: 20px;
}
.about-section .row{
    padding: 10px 30px 20px 30px;
    margin: 0;
    font-size: 1.4rem;
    box-sizing: border-box;
    text-align: justify;
}
.row-half iframe{
    width: 100%;
}
.row-half .col-md-6:first-child{
    padding: 0px;
}
.row-half .col-md-6:last-child{
    padding-left: 30px;
    padding-right: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon {
  position: relative;
  left: -20px;
  top: calc(50% - 30px);
}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  text-align: center;
  margin-bottom: 20px;
  margin: 10px 10px 10px 30px;
  font-weight: 700;
  font-size: 25px;
}

.services .title a {
  color: #111;
}

.services .icon-box:hover .title a {
  color: #ff7f5d;
}

.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

/*------------------------------------------------------------
#  Initiatives
--------------------------------------------------------------*/
.initiatives{
  background-color: #007bff;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}
.initiatives .section-head{
    padding-bottom: 10%;
    padding-top: 0;
}
.initiatives .main{
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.initiatives .testi{
  background: white;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.initiatives .testi-logo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #007bff;
}
.initiatives .testi-logo img{
  width: 50px;
  margin-top: 20px;
  transition: transform 1s;
}
.initiatives .testi h4{
  height: 35px;
  width: 80%;
  background: #fff;
  margin: 50px auto;
  position: relative;
}
.initiatives .testi h4::after{
  content: '';
  width: 40px;
  height: 30px;
  background: linear-gradient(to right,#fff,#007bff);
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}
.initiatives .testi h4::before{
  content: '';
  width: 40px;
  height: 30px;
  background: linear-gradient(to right,#007bff,#fff);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}
.initiatives .shadowOne{
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.initiatives .shadowTwo{
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}
.initiatives .main:hover .testi{
  transform: translateY(-50px);
}
.initiatives .main:hover .shadowOne{
  transform: translateY(-25px);
}
.initiatives .main:hover img{
  transform: rotate(360deg);
}

/*-------------------------------testimonials style------------------*/
#seniors-testimonial{
    padding: 40px 0;
}
.testimonial img{
    max-width: 159px;
    margin: 0 auto 0 auto;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 100px;
}
.testimonial blockquote{
    border: 0;
    font-family: tahoma;
    font-style: italic;
    color: blue;
    padding: 5px 150px;
    position: relative;
}
.testimonial blockquote:before,
.testimonial blockquote:after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}
.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonial-author p{
    color: blue;
    font-size: 17px;
}
.testimonial-author p strong{
    display: block;
}
.testimonial h3{
    color: blue;
    text-transform: uppercase;
}
/*--------------------gallery--------------------------------*/
.gallery{
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../img/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.gallery .section-head{
    margin-bottom: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gallery .image{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: var(--secondary-color) 5px 5px;
}
.gallery .image:hover{
    animation: gallery-imganim 0.3s linear;
}
.gallery .image img{
    width: auto;
    height: 185px;
}

/*----------------team section------------------------*/
.team-section{
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../img/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.team-details:before{
	content: '';
	position: absolute;
	top: 0;
	left: 160%;
	width: 100%;
	height: 100%;
	background: rgba(225,225,225,.2);
	z-index: 1;
	transform: skewX(45deg);
	transition: 0.6s;
}
.team-section .section-head{
    margin-bottom: auto;
    margin-top: 20px;
}
.team-subhead h3{
    font-size: 1.4rem;
}
.team-subhead .underline{
    width: 40%;
    margin-left: 30%;
}
.members{
    margin-top: 30px;
    margin-left: 20px; 
    margin-right: 20px;
    box-shadow: #CC6A43 5px 5px;
}
.team-details:hover:before{
	
	left:-160%;
	transition-delay: 0.7s;
}

.members .team-details {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 185px;
	background: #fff;	
}
.team-img {
	width: 100%;
	height:100%;
	filter: grayscale(100%);
	transition: 2s;	
}
.team-details:hover .team-img {
	filter: grayscale(0%);
	transform: scale(1.1);
	
}
.team-details .team-name{
	position:absolute;
	padding: 2px 0px;
	margin:0px;
	width:100%;
	font-size: 1rem;
	bottom: -15px;
	background-color: #fff;
	text-align: center;
	transform-origin: bottom;
	transform: perspective(1000px) rotateX(90deg);
	transition: 0.5s;
	
}
.team-details:hover .team-name{
	transform: perspective(1000px) rotateX(0deg);
}
.team-details .text-muteded {
	font-size: 0.9rem;
	color:#cc6a43;	
}
.team-details .team-list-inline {
	margin: 0;
	padding:0;
	top: 38%;
	left: 0;
	position: absolute;
	
}
.team-details .team-list-inline li{
	list-style-type: none;
	background-color: #fff;
	width: 30px;
    height: auto;
    text-align: center;
    margin-top: 1px;
	transform-origin: left;
	transform: perspective(1000px) rotateY(90deg);
	transition: 0.5s;
}
.team-details:hover .team-list-inline li:nth-child(1){
	transform: perspective(1000px) rotateY(0deg);
	transition-delay: 0.5s;
}
.team-details:hover .team-list-inline li:nth-child(2){
	transform: perspective(1000px) rotateY(0deg);
	transition-delay: 0.5s;
}
.team-details .team-list-inline li .fa{
	color:black;
	z-index: 2;
}
.president .team-details{
    width: 250px;
    height: 230px;
}
.vice-president .team-details{
    width: 230px;
    height: 210px;
}
.domain-heads .team-details{
    width: 210px;
    height: 190px;
}

/*---------------------reach-us------------------------*/
.reach-us{
    position: fixed;
    z-index: 20;
    right: 20px;
    bottom: 20px;
}
.reach-us-button{
    border-radius: 5px;
    background: #cc6a43;
    padding: 10px 20px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    box-shadow: #000 1px 1px 2px 2px;
}
.reach-us-button h4{
    padding: 0px;
    margin: 0px;
    color:#fff;
    font-size: 1.3rem;
    display: inline;
    vertical-align: center;
    padding-right: 5px;
}
.reach-us img{
    width: 20px;
    height: 20px;
}
.reach-us .content{
    height: 500px;
    position: absolute;     
    bottom: -5px;
    display: block;
    width: 400px;
    right: -5px;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}
.content .close{
    cursor: pointer;
}
.content .close svg{
    width: 3rem;
    height: 3rem;
    color: #fff;
}
.content .head{
    height: 15%;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: 2px solid #000;
}
.content .head .section-subhead{
    padding-left: 30px;
    padding-top: 20px;
}
.content form{
    margin-top: 20px;
}
.content form .form-field{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content form .form-field input, .form-field textarea, .form-field button{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 8px 10px;
}
.content form .form-field button{
    border-radius: 0px;
    background: var(--secondary-color);
    border: none;
}
.content form .form-field button:hover{
    background: #b54d23;
}
.content .email{
    text-align: center;
    margin-top: 20px;
}
.content .email h4{
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 600;
}
.content .email h4 span{
    font-weight: 900;
    color: var(--secondary-color);
}
.show-reachus{
    animation: show-reach-us 0.3s linear forwards;
}
.hide-reachus{
    animation: hide-reach-us 0.3s linear forwards;
}

/*-----------------------footer------------------------*/
.footer{
    background: #111;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer iframe{
    margin-top: 20px;
    width: 100%;
    padding-right: 30px;
}
.footer .get-notified{
    padding-left: 50px;
    padding-right: 0px;
}
.footer .get-notified form{
    padding-top: 30px;
}
.footer .get-notified form input{
    background: #1f1f1f;
    border: none;
    width: 50%;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    padding: 30px 20px;
    padding-right: 40px;
}
.footer .get-notified form input:active{
    border: none;
}
.footer .get-notified form button{
    background: var(--secondary-color);
    border-radius: 0px;
    margin: 0;
    color:#fff;
    margin-left: -10px;
    padding: 20px 30px;
    
}
.footer .get-notified form button:hover{
    background: #b54d23;
}
.footer .explore{
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 40px;
    color: #fff;
}
.footer .explore .section-subhead{
    margin-bottom: 30px;
}
.footer .explore > div.row h5{
    font-size: 1rem;
}
.footer .explore > div.row a{
    color: var(--secondary-color);
}
.footer .explore .social-icons{
    position: relative;
    top: 0;
    margin-top: 20px;
    margin-left: 1rem;
    color: #fff;
}
.explore .email{
    margin-top: -10px;
}
.explore .email h4{
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 600;
    width: 100%;
}
.explore .email h4 span{
    font-weight: 900;
    color: var(--secondary-color);
}
.footer .explore .social-icons div{
    margin-right: 60px;
}
/*----------------------copyright------------------------*/
.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #0a0a0a;
}
.copyright h4{
    font-size: 1rem;
    text-align: center;
    color: #fff;
}




