@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
:root {
  --primary-color: #76b900;
  --secondary-color: #0f031c;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  background: #fff;
}
.navbar {
  width: 100vw;
  color: blue;
  top: 0;
  position: absolute;
  z-index: 100;
  background: transparent;
}
.navbar .navbar-brand img {
  height: 60px;
  margin-left: 1rem;
}
.navbar .bars {
  font-size: 1rem;
  position: fixed;
  right: 3rem;
  top: 30px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 10px 5px 10px 5px;
}
.navbar .bars svg {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 10px;
  width: 1.6rem;
  height: 1.6rem;
}
.navslider {
  height: 100%;
  width: 230px;
  display: table;
  position: fixed;
  right: 0;
  z-index: 100;
  background: var(--secondary-color);
  color: #fff;
}
.navslider .close svg {
  color: #fff;
  width: 2rem;
  height: 2rem;
  font-weight: 800;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.navslider .nav-options {
  margin: 8rem 0 0 2rem;
}
.navslider .nav-options div {
  margin: 1rem;
  margin-left: 10px;
  font-size: 1rem;
}
.navslider .nav-options div a {
  letter-spacing: 3px;
  color: #fff;
}
.navslider .nav-options div a:hover {
  text-decoration: none;
  font-size: 1.1rem;
}
.show-nav {
  animation: shownav ease forwards;
  animation-duration: 0.6s;
}
.hide-nav {
  animation: hidenav ease forwards;
  animation-duration: 0.6s;
}
.show-nav-options {
  animation: shownav ease forwards;
  animation-delay: 0.09s;
  animation-duration: 0.6s;
}
.hide-nav-options {
  animation: hidenav ease forwards;
  animation-delay: 0.09s;
  animation-duration: 0.6s;
}
.make-black {
  background: #000;
}
.navslider .social-icons {
  position: relative;
  top: 0;
  margin-top: 80px;
  margin-left: 2rem;
  color: #fff;
}
.navslider .social-icons div {
  margin-right: 20px;
}
/*---------------------header styles---------------------*/
.header {
  width: 100vw;
  height: 100vh;
  min-height: 786px;
  overflow: hidden;
  z-index: 5;
  background-image: url("../img/newBack.jpg");
  background-size: cover;
  left: 0;
  position: relative;
}
.another-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: var(--primary-color);
  opacity: 0.6;
}
.header .background-image {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: linear-gradient(
    299deg,
    rgba(18, 4, 33, 0.8743872549019608) 0%,
    rgba(0, 0, 0, 1) 73%
  );
}
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.header-content {
  top: 0;
  position: absolute;
  margin-top: 20%;
  color: #fff;
}
.header-content .head {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: 4.17rem;
  text-align: center;
}
.header-content .subhead {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 3px;
}
.social-icons {
  position: absolute;
  top: 0;
  margin-top: 40vh;
  margin-left: 95vw;
  color: #fff;
}
.social-icons div {
  margin-bottom: 30px;
}
.social-icons a span {
  color: #fff;
  font-size: 1.2rem;
}
.social-icons a:hover {
  color: gray;
}
.section-head {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.section-head h3 {
  width: auto;
  align-self: center;
  text-align: center;
  font-weight: 800;
  color: var(--primary-color);
  font-size: 2.5rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Open Sans", sans-serif;
}
.section-head .underline {
  width: 60%;
  height: 1px;
  margin-top: 20px;
  background: transparent;
  margin-left: 20%;
}
.section-subhead {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 1.6rem;
  font-variant: all-petite-caps;
  font-family: "Montserrat", sans-serif;
}
/*---------------------About section------------------*/
.about-section {
  position: relative;
  background: linear-gradient(
    180deg,
    rgb(14 8 20) 0%,
    rgba(18, 4, 33, 1) 50%,
    #18151b 102%
  );
  padding-bottom: 50px;
  padding-top: 20px;
}
.about-section .row {
  padding: 10px 30px 20px 30px;
  margin: 0;
  font-size: 1.4rem;
  box-sizing: border-box;
  text-align: justify;
}
.row-half iframe {
  width: 100%;
}
.row-half .col-md-6:first-child {
  padding: 0px;
}
.row-half .col-md-6:last-child {
  padding-left: 30px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding-right: 0;
}
.number-counter {
  margin-top: 20px;
  margin-bottom: 10px;
}
.number-counter div {
  padding-top: 10px;
}
.number-counter .counter {
  font-size: 2.5rem;
  color: #1f2346;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.number-counter .counter-title {
  text-align: center;
  font-size: 1.2rem;
  color: #1f2346;
  font-family: "Montserrat", sans-serif;
}

/*-----------------------initiative-outer-section--------------*/
.ini-section {
  padding-bottom: 70px;
  padding-top: 20px;
  margin-top: -1px;
  background: #18151b;
}
.ini-section .row > div {
  margin-top: 15px;
  padding-bottom: 15px;
}
.ini-section .each-option {
  cursor: pointer;
  box-shadow: 0 10px 10px 0 #120520;
  margin-left: 10px;
  background: #000;
  margin-right: 10px;
}
.ini-section .each-option div:first-child {
  padding-right: 5px;
  padding-left: 25px;
}
.ini-section .each-option div:last-child {
  padding-left: 5px;
  padding-right: 5px;
}
.ini-section .each-option .ini-content-head {
  font-size: 1.2rem;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  vertical-align: center;
  text-align: center;
  transition: all;
  transition-duration: 0.4s;
}
.ini-section .each-option:hover .ini-content-head {
  transform: translate(0px, -10px);
  color: var(--secondary-color);
}
/*------------------------------------------------------------
#  Initiatives
--------------------------------------------------------------*/
.initiatives {
  background-color: transparent;
  background-size: cover;
  padding: 80px 0;
  padding-top: 30px;
  position: relative;
  z-index: 200;
}
.initiatives .section-head {
  margin-bottom: 10px;
  padding-top: 50px;
}
.initiatives .row > div {
  margin-top: 150px;
}
.initiatives .main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.initiatives .testi {
  background: #120421;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}
.initiatives .testi img {
  width: 100%;
}
.initiatives .testi-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #020003;
}
.initiatives .testi-logo img {
  width: 80%;
  margin-top: 20px;
  transition: transform 1s;
}
.initiatives .testi h4 {
  height: 35px;
  width: 90%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  background: #120421;
  margin: 50px auto;
  position: relative;
}
.initiatives .testi h4::after {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, #120421, var(--primary-color));
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}
.initiatives .testi h4::before {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, var(--primary-color), #120421);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}
.initiatives .shadowOne {
  height: 200px;
  width: 80%;
  background: #290a4b;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}
.initiatives .shadowTwo {
  height: 200px;
  width: 64%;
  background: #4c128a;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}
.initiatives .main:hover .testi {
  transform: translateY(-50px);
}
.initiatives .main:hover .shadowOne {
  transform: translateY(-25px);
}
.initiatives .main:hover img {
  transform: rotate(360deg);
}

.ibox {
  padding-left: 30px;
  padding-bottom: 50px;
  z-index: 3;
}
.iicon {
  left: 1px;
  z-index: 1;
  width: 70px;
}
.bg-modal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-contents {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: transparent;
  text-align: center;
  position: relative;
  bottom: 0;
}

.modal-contents .close {
  position: absolute;
  right: 30px;
  font-size: 3.5rem;
  color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-contents .close :hover {
  color: #666;
}
/*----------------------------initiative desc box--------------*/
.initiative-desc-box {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(18, 4, 33, 1) 50%,
    rgba(0, 0, 0, 0.99) 100%
  );
}
.initiative-desc-box .ini-desc-box {
  position: relative;
  height: 100%;
  margin-top: -20px;
  padding-bottom: 30px;
  overflow-x: hidden;
}
.ini-desc-box .ini-close {
  position: absolute;
  color: #fff;
  transform: rotate(45deg);
  right: 30px;
  top: 30px;
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
}
.ini-desc-box .section-head h3 {
  margin-top: 30px;
}
.ini-desc-box .ini-desc {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: justify;
}
.ini-desc-box img {
  width: 56%;
  height: 350px;
  margin-left: 22%;
  margin-bottom: 50px;
}
.ini-desc-box .carousel-item {
  margin-top: 30px;
}
.ini-desc-box .carousel-control-prev-icon {
  color: var(--primary-color);
}
.ini-desc-box .carousel-control-next-icon {
  color: var(--primary-color);
}

/*----------------------------testimonials------------------------*/
.testimonials {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0, 0.99) 0%,
    rgba(18, 4, 33, 1) 50%,
    #18151b 102%
  );
  margin-top: -1px;
}
.testimonial {
  background: black;
  text-align: center;
  padding: 60px 80px;
  margin: 0 15px 120px;
  position: relative;
  margin-top: 30px;
}
.testimonial:before,
.testimonial:after {
  content: "";
  border-top: 40px solid black;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.testimonial:after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}
.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #fff;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .description {
  font-size: 1rem;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  text-align: justify;
  margin-bottom: 30px;
  letter-spacing: 1px;
  opacity: 1;
}
@media only screen and (min-width: 992px) {
  .testimonial .description {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.testimonial .testimonial-content {
  width: 100%;
  position: absolute;
  left: 0;
}
.testimonial .pic {
  display: inline-block;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 5px 0;
  letter-spacing: 1px;
}
.testimonial .post {
  display: block;
  font-size: 0.9rem;
  color: #999999;
}
.owl-theme .owl-controls {
  margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span {
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffd9b8;
  border-color: #fff;
}
.pic img {
  width: 120px !important;
  height: 50px;
}

/*--------------------gallery--------------------------------*/
.gallery {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(18, 4, 33, 1) 50%,
    rgba(0, 0, 0, 0.99) 100%
  );
  padding-top: 70px;
  padding-bottom: 70px;
}
.gallery .section-head {
  margin-bottom: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery .image {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.gallery .image:hover {
  animation: gallery-imganim 0.3s linear;
}
.gallery .image img {
  width: auto;
  height: 185px;
}

/*----------------team section------------------------*/
.team-section {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.99) 0%,
    rgba(18, 4, 33, 1) 50%,
    rgba(0, 0, 0, 0.99) 100%
  );
  padding-top: 70px;
  padding-bottom: 70px;
}
.team-section .section-head {
  margin-bottom: auto;
  margin-top: 20px;
}
.team-subhead h3 {
  font-size: 1.4rem;
}
.team-subhead .underline {
  width: 40%;
  margin-left: 30%;
}
.members {
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 10px 29px 0 rgb(31 35 70 / 25%);
}
.members .team-details {
  position: relative;
  width: 200px;
  height: 235px;
  background: #fff;
}
.team-img {
  width: 100%;
  height: 80%;
}
.team-details .team-name {
  position: relative;
  width: 100%;
  color: #000;
  font-size: 1rem;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  text-align: center;
}
.team-details a:hover {
  text-decoration: none;
}
.team-details .text-muteded {
  font-size: 0.9rem;
  color: var(--secondary-color);
  margin-bottom: 0px;
}
.president .team-details {
  width: 250px;
  height: 280px;
}
.vice-president .team-details {
  width: 230px;
  height: 260px;
}
.domain-heads .team-details {
  width: 210px;
  height: 235px;
}
/*---------------------reach-us------------------------*/
.reach-us {
  position: fixed;
  z-index: 20;
  right: 20px;
  bottom: 20px;
}
.reach-us-button {
  border-radius: 5px;
  background: #76b900;
  padding: 10px 20px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  box-shadow: #201729 1px 1px 2px 2px;
}
.reach-us-button h4 {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 1.3rem;
  display: inline;
  vertical-align: center;
  padding-right: 5px;
}
.reach-us img {
  width: 20px;
  height: 20px;
}
.reach-us .content {
  height: 500px;
  position: absolute;
  bottom: -5px;
  display: block;
  width: 400px;
  right: -5px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
}
.content .close {
  cursor: pointer;
}
.content .close svg {
  width: 3rem;
  height: 3rem;
  color: #fff;
}
.content .head {
  height: 15%;
  width: 100%;
  background-color: var(--secondary-color);
}
.content .head .section-subhead {
  padding-left: 30px;
  padding-top: 20px;
  color: #fff;
}
.content form {
  margin-top: 20px;
}
.content form .form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content form .form-field input,
.form-field textarea,
.form-field button {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  padding: 8px 10px;
}
.content form .form-field button {
  border-radius: 0px;
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
}
.content form .form-field button:hover {
  background: var(--primary-color);
}
.content .email {
  text-align: center;
  margin-top: 20px;
}
.content .email h4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #000;
  font-weight: 600;
}
.content .email h4 span {
  font-weight: 900;
  color: var(--secondary-color);
}
.show-reachus {
  animation: show-reach-us 0.3s linear forwards;
}
.hide-reachus {
  animation: hide-reach-us 0.3s linear forwards;
}

/*-----------------------footer------------------------*/
.footer {
  background: #000;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: -1px;
}

.footer iframe {
  margin-top: 20px;
  width: 100%;
  padding-right: 30px;
}
.footer .get-notified {
  padding-left: 50px;
  padding-right: 0px;
}
.footer .get-notified form {
  padding-top: 30px;
}
.footer .get-notified form input {
  background: #1f1f1f;
  border: none;
  width: 50%;
  color: #fff;
  font-size: 1rem;
  height: 40px;
  padding: 30px 20px;
  padding-right: 40px;
}
.footer .get-notified form input:active {
  border: none;
}
.footer .get-notified form button {
  background: var(--secondary-color);
  border-radius: 0px;
  margin: 0;
  color: #fff;
  margin-left: -10px;
  padding: 20px 30px;
  transition: all 0.5s;
}
.footer .get-notified form button:hover {
  background: var(--primary-color);
}
.footer .explore {
  padding-left: 50px;
  padding-right: 0px;
  padding-top: 40px;
  color: #fff;
}
.footer .explore .section-subhead {
  margin-bottom: 30px;
}
.footer .explore > div.row h5 {
  font-size: 1rem;
}
.footer .explore > div.row a {
  color: #fff;
}
.footer .explore .social-icons {
  position: relative;
  top: 0;
  margin-top: 20px;
  margin-left: 1rem;
  color: #fff;
}
.explore .email {
  margin-top: -10px;
}
.explore .email h4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
}
.explore .email h4 span {
  font-weight: 900;
  color: var(--primary-color);
}
.footer .explore .social-icons div {
  margin-right: 60px;
}
/*----------------------copyright------------------------*/
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000;
}
.copyright h4 {
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.vanta-canvas {
  width: 100% !important;
}
/*----------------------loader--------------------------------*/
.loader > div {
  background: #000;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.loader .loader-outer {
  display: flex;
  justify-content: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
}
.loader .gradient {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 220;
  transform: translate(-50%, -50%);
  background: rgb(204, 106, 67);
  background: linear-gradient(
    233deg,
    rgba(204, 106, 67, 1) 0%,
    rgba(255, 209, 173, 1) 40%,
    rgba(110, 201, 255, 1) 100%
  );
  border-radius: 50%;
  animation: loader-spiral 1s linear;
  animation-iteration-count: infinite;
}
.loader .img-container {
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 50%;
  z-index: 250;
  text-align: center;
  background: #000;
  box-shadow: #000 0px 0px 2px 2px;
  display: flex;
}
.loader .img-container img {
  height: 100px;
  width: 164px;
  margin: auto;
  position: relative;
  text-align: center;
  background-color: transparent;
}
.hide-loader {
  z-index: -10;
  display: none;
}

/*------------------------testimonials-------------------------------*/
.testimonials-section {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0, 0.99) 0%,
    rgba(18, 4, 33, 1) 50%,
    #18151b 102%
  );
}
