@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color: #000d80;  
    --secondary-color: #CC6A43;
}
body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    overflow-x: hidden;
    background: #fff;}
.navbar{
    width: 100vw;
    color: blue;
    top: 0;
    position: absolute;
    z-index: 100;
    background: transparent;
}
.navbar .navbar-brand img{
    height: 60px;
    margin-left: 1rem;
}
.navbar .bars{
    font-size: 1rem;
    position: fixed;
    right:  3rem;
    z-index: 100;
    cursor: pointer;
    color: #fff;
}
.navbar .bars svg{
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
    width: 1.6rem;
    height: 1.6rem;
}
.navslider{
    height: 100%;
    width: 230px;
    display: table;
    position: fixed;
    right: 0;
    z-index: 100;
    background: var(--secondary-color);
    color: #fff;
}
.navslider .close svg{
    color: #fff;
    width: 2rem;
    height: 2rem;
    font-weight: 800;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.navslider .nav-options{
    margin: 8rem 0 0 2rem;
}
.navslider .nav-options div{
    margin: 1rem;
    margin-left: 10px;
    font-size: 1rem;
}
.navslider .nav-options div a{
    letter-spacing: 3px;
    color: #fff;
}
.navslider .nav-options div a:hover{
    text-decoration: none;
    font-size: 1.1rem;
}
.show-nav{
    animation: shownav ease forwards;
    animation-duration: 0.6s;
}
.hide-nav{
    animation: hidenav ease forwards;
    animation-duration: 0.6s;
}
.show-nav-options{
    animation: shownav ease forwards;
    animation-delay: 0.09s;
    animation-duration: 0.6s;
}
.hide-nav-options{
    animation: hidenav ease forwards;
    animation-delay: 0.09s;
    animation-duration: 0.6s;
}
.make-black{
    background: #000;
}
/*---------------------header styles---------------------*/
.header{
    width: 100vw;
    height: 100vh;
    min-height: 786px;
    overflow: hidden;
    z-index: 5;
    background-image: url("../img/back\ -\ Copy.jpg");
    background-size: cover;
    left: 0;
    position: relative;
}
.another-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color:var(--primary-color);
    opacity: 0.6;
}
.header .background-image{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #000;
    opacity: .5;
}
.header-content{
    top: 0;
    position: absolute;
    margin-top: 20%; 
    margin-left: 20%;
    color: #fff;
}
.header-content .head{
    color: #FFD1AD;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
}
.header-content .subhead{
    color: #fff;
    font-size: 0.95rem;
    margin-top: 20px;
    letter-spacing: 1px;
}
.social-icons{
    position: absolute;
    top: 0;
    margin-top: 40vh;
    margin-left: 95vw;
    color: #fff;
}
.social-icons div{
    margin-bottom: 30px;
}
.social-icons a span{
    color: #fff;
    font-size: 1.2rem;
}
.social-icons a:hover{
    color: gray;
}
.section-head{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
}
.section-head h3{
    width: auto;
    align-self: center;
    text-align: center;
    font-weight: 800;
    color: #1f2348;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
.section-head .underline{
    width: 60%;
    height: 1px;
    margin-top: 20px;
    background: #cc6a43;
    margin-left: 20%;   
    
}
.section-subhead{
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    font-variant: all-petite-caps;
    font-family: 'Montserrat', sans-serif;
}
/*---------------------About section------------------*/
.about-section{
    position: relative;
    background: #FFD1AD;
    padding-bottom: 20px;
}
.about-section .row{
    padding: 10px 30px 20px 30px;
    margin: 0;
    font-size: 1.4rem;
    box-sizing: border-box;
    text-align: justify;
}
.row-half iframe{
    width: 100%;
}
.row-half .col-md-6:first-child{
    padding: 0px;
}
.row-half .col-md-6:last-child{
    padding-left: 30px;
    padding-right: 0;
}

/*------------------------------------------------------------
#  Initiatives
--------------------------------------------------------------*/
.initiatives{
  background-color: #007bff;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}
.initiatives .section-head{
    padding-bottom: 10%;
    padding-top: 0;
}
.initiatives .main{
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.initiatives .testi{
  background: white;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.initiatives .testi-logo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #007bff;
}
.initiatives .testi-logo img{
  width: 50px;
  margin-top: 20px;
  transition: transform 1s;
}
.initiatives .testi h4{
  height: 35px;
  width: 80%;
  background: #fff;
  margin: 50px auto;
  position: relative;
}
.initiatives .testi h4::after{
  content: '';
  width: 40px;
  height: 30px;
  background: linear-gradient(to right,#fff,#007bff);
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}
.initiatives .testi h4::before{
  content: '';
  width: 40px;
  height: 30px;
  background: linear-gradient(to right,#007bff,#fff);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}
.initiatives .shadowOne{
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.initiatives .shadowTwo{
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}
.initiatives .main:hover .testi{
  transform: translateY(-50px);
}
.initiatives .main:hover .shadowOne{
  transform: translateY(-25px);
}
.initiatives .main:hover img{
  transform: rotate(360deg);
}

/*testimonials style*/
#seniors-testimonial{
    padding: 40px 0;
}
.testimonial img{
    max-width: 159px;
    margin: 0 auto 0 auto;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 100px;
}
.testimonial blockquote{
    border: 0;
    font-family: tahoma;
    font-style: italic;
    color: blue;
    padding: 5px 150px;
    position: relative;
}
.testimonial blockquote:before,
.testimonial blockquote:after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}
.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonial-author p{
    color: blue;
    font-size: 17px;
}
.testimonial-author p strong{
    display: block;
}
.testimonial h3{
    color: blue;
    text-transform: uppercase;
}

/*----------------team section------------------------*/
.team-section{
    background: #7F8299;
    width: 100%;
}


/*-----------------------footer------------------------*/
.footer{
    background: #111;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer iframe{
    margin-top: 20px;
    width: 100%;
    padding-right: 30px;
}
.footer .get-notified{
    padding-left: 50px;
    padding-right: 0px;
}
.footer .get-notified form{
    padding-top: 30px;
}
.footer .get-notified form input{
    background: #1f1f1f;
    border: none;
    width: 50%;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    padding: 30px 20px;
    padding-right: 40px;
}
.footer .get-notified form input:active{
    border: none;
}
.footer .get-notified form button{
    background: #cc6a43;
    border-radius: 0px;
    margin: 0;
    color:#fff;
    margin-left: -10px;
    padding: 20px 30px;
    
}
.footer .get-notified form button:hover{
    background: #c75c31;
}
.footer .contacts{
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 40px;
    color: #fff;
}
.footer .contacts .section-subhead{
    margin-bottom: 30px;
}
.footer .contacts .numbers{
    letter-spacing: 1px;
}
/*----------------------copyright------------------------*/
.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #0a0a0a;
}
.copyright h4{
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}




